<%= render 'home/header' %>

<style>
	.background {
		background-image: url('/assets/food.jpg');
		box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
		background-attachment: fixed;
	}
	.jumbotron {
		margin: auto;
		padding-top: 16em;
		padding-bottom: 16em;
	}
	.jumbotext {
		color: #fff;
	}
	.h1w, .h2w, .h3w, .h4w, .h5w {
		text-align: center;
		color: #fff;
	}

	.vcenter {
		display: inline-block;
		vertical-align: middle;
	}

	.img-circle {
		border-radius: 50%;
	}

	.align-center {
		text-align: center;
	}

	img {
		width: 200px;
		height: 200px;
	}

	.team {
		padding-top: 5em;
	}

	.footer {
		background-color: #777575;
		padding-top: 2em;
		padding-bottom: 2em;
		color: #fff;
	}

	.fa-facebook > a: hover {
		color: #B00100;
	}
	
	.fa{
		color: #fff;
	}
	
	.fa:hover {
		text-decoration: none;
		background-color: transparent;
	}
	
	.fa-facebook:hover {
		color: #3b5998;
	}
	
	.fa-twitter:hover {
		color: #00aced;
	}
	
	.fa-linkedin:hover {
		color: #4875B4;
	}
	
	.fa-google-plus:hover {
		color: #C63D2D;
	}

</style>

<body>
	<div class='jumbotron background'>
		<div class="container">
			<h1 class="h1w" style="color: #fff">Internetowa książka kucharska</h1>
			<h2 class="h2w">Zarządzaj swoimi ulubionymi przepisami online</h2>
			<h3 class="h3w">Stwórz własną książkę kucharską poprzez gromadzenie przepisów ze stron internetowych w sieci.</h3>
			<h4 class="h4w">Wypróbuj za darmo!</h4>
		</div>
	</div>

	<div class="jumbotron" style="background-color: #fff">
		<div class="container">
			<div class="row" align="center">
				<div class='col-lg-3 vcenter'>
					<i style="font-size: 10em;" class="glyphicon glyphicon-plus"></i>
					<h2>Dodawaj</h2>
				</div>

				<div class='col-lg-3 vcenter'>
					<i style="font-size: 10em;" class="glyphicon glyphicon-book"></i>
					<h2>Przeglądaj</h2>
				</div>

				<div class='col-lg-3 vcenter'>
					<i style="font-size: 10em;" class="glyphicon glyphicon-pencil"></i>
					<h2>Edytuj</h2>
				</div>

				<div class='col-lg-3 vcenter'>
					<i style="font-size: 10em;" class="glyphicon glyphicon-remove"></i>
					<h2>Usuwaj</h2>
				</div>

			</div>
		</div>
	</div>

	<div class="jumbotron" style="padding-top: 5em; padding-bottom: 11em;">
		<div class="container">
			<h1 class="text-center" style="padding-bottom: 1em">Nasz zespół</h1>
			<div class="row align-center">
				<div class="col-md-4">
					<img class="img-circle" src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" alt="">
					<div>
						<h4>Jan Kowalski</h4>
						<span>Projektant Baz Danych</span>
					</div>
				</div>

				<div class="col-md-4">
					<img class="img-circle" src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" alt="">
					<div>
						<h4>Jan Nowak</h4>
						<span>Programista Rails</span>
					</div>
				</div>

				<div class="col-md-4">
					<img class="img-circle" src="https://corevaluesoftware.com/userfiles/images/website/author_placeholder_female.png" alt="">
					<div>
						<h4>Joanna Nowak</h4>
						<span>Projektantka Web</span>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="jumbotron" style="background-color: #fff; padding-top: 5em; padding-bottom: 7em;">
		<div class="container">
			<h1 class="text-center">Kontakt</h1>
			<div class="form-group">
				<label for="imie">Imię</label>
				<input id="imie" class="form-control" />
			</div>
			<div class="form-group">
				<label for="imie">Nazwisko</label>
				<input id="nazwisko" class="form-control" />
			</div>
			<div class="form-group">
				<label for="imie">E-mail</label>
				<input id="email" class="form-control" />
			</div>
			<div class="form-group">
				<label for="imie">Treść</label>
				<textarea id="tresc" class="form-control"></textarea>
			</div>
			<div class="form-group">
				<input class="btn btn-success" type="submit" />
			</div>
		</div>
	</div>

	<footer class="footer">
		<div class="container">
			<div class="row text-center">
				<div class="col-lg-3">
					<a href="#" class="fa fa-facebook fa-5x" aria-hidden="true"></a>
				</div>
				<div class="col-lg-3">
					<a href="#" class="fa fa-twitter fa-5x" aria-hidden="true"></a>
				</div>

				<div class="col-lg-3">
					<a href="#" class="fa fa-linkedin fa-5x" aria-hidden="true"></a>
				</div>

				<div class="col-lg-3">
					<a href="#" class="fa fa-google-plus fa-5x" aria-hidden="true"></a>
				</div>

			</div>
		</div>
	</footer>

	<script src="https://use.fontawesome.com/0c9f9d2bcc.js"></script>

</body>

