<%= render 'home/header' %>

<div class="container">

<h1>Nowy krok</h1>

<%= render 'form', recipe_step: @recipe_step %>

<%= link_to 'Wstecz', edit_recipe_path(@recipe), class: 'btn btn-info' %>

</div>
