<%= render 'home/header' %>

<div class="container">

<h1>Edycja składnika</h1>

<%= render 'form', ingredient: @ingredient %>

<%= link_to 'Pokaż', @ingredient, class: 'btn btn-info' %>
<%= link_to 'Wstecz', ingredients_path, class: 'btn btn-info' %>

</div>
