<%= render 'home/header' %>

<div class="container">

	<h1>New Steps Ingredients Join</h1>

	<%= render 'form', steps_ingredients_join: @steps_ingredients_join %>

	<%= link_to 'Wstecz', steps_ingredients_joins_path, class: 'btn btn-info' %>

</div>
